.creations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        margin-top: 2rem;
        @include titre-paragraph-mobile;
        color: $highText;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $lowText;
        }
    }

    &__subtitle {
        margin-top: 2rem;
        @include sous-titre-mobile;
        color: $highText;
        text-align: center;
    }

    &__images {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__map iframe {
        width: 80vw;
        height: 20vh;
        margin-top: 2rem;
    }

    &__text {
        color: $thirdBackground;
    }

    &__horaires, &__adresse {
        width: 80%;
        margin-left: 2rem;
        margin-top: 2rem;
        @include paragraph-mobile;
    }

    &__form {
        width: 80%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        background-color: white;
    }

    &__title {
        margin-top: 2rem;
        @include titre-paragraph-mobile;
        color: $highText;
        align-self: center;
    }

    &__label {
        margin-top: 2rem;
        @include sous-titre-mobile;
        color: lightgray;
    }

    &__input {
        width: 100%;
        border: none;
        border-bottom: 2px solid $lowText;
    }

    &__submit {
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
        border: none;
        background-color: $solidBackground;
        color: white;
        cursor: pointer;
        @include paragraph-mobile;
        align-self: center;
    }

    &__subtitle {
        margin-top: 2rem;
        @include sous-titre-mobile;
        color: $highText;
        text-align: center;
    }
}