@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Oswald&display=swap');

@mixin fonts {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
}

@mixin font-size($size) {
  font-size: $size;
}

@mixin font-weight($weight) {
  font-weight: $weight;
}

@mixin font-line-height($height) {
  line-height: $height;
}

@mixin background-color() {
  background-color: $secondBackground;
}